// Typography

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.h {
  font-family: $headings-font-family;
  font-weight: normal;
  line-height:1.2;
  letter-spacing:-1px;
  margin: 0 0 0.82em;
  color: $headings-color;
}

h1, .h1 {
  font-size: $h1-font-size;
  @include media("<widescreen") {
    font-size:50px;
  }
  @include media("<desktop") {
    font-size:42px;
  }
  @include media("<tablet") {
    font-size:34px;
  }
  @include media("<phone") {
    font-size:30px;
  }
}

h2, .h2 {
  font-size: $h2-font-size;
  @include media("<desktop") {
    font-size:32px;
  }
  @include media("<tablet") {
    font-size:28px;
  }
}

h3, .h3 {
  font-size: $h3-font-size;
  color:$orange-light;
  @include media("<desktop") {
    font-size:28px;
  }
}

h4, .h4 {
  font-size: $h4-font-size;
  color:$orange-light;
  @include media("<desktop") {
    font-size:25px;
  }
}

h5, .h5 {
  font-size: $h5-font-size;
  color:$orange-light;
}

h6, .h6 {
  font-size: $h6-font-size;
  color:$orange-light;
}

h1 a, .h1 a,
h2 a, .h2 a,
h3 a, .h3 a,
h4 a, .h4 a,
h5 a, .h5 a,
h6 a, .h6 a,
.h a{
  color:inherit;
}

h1 a:hover, .h1 a:hover,
h2 a:hover, .h2 a:hover,
h3 a:hover, .h3 a:hover,
h4 a:hover, .h4 a:hover,
h5 a:hover, .h5 a:hover,
h6 a:hover, .h6 a:hover,
.h a:hover{
  color:darken($base-link-color, 15%);
}

p {
  margin: 0 0 3em;
  @include media("<widescreen") {
    margin:0 0 2em;
  }
  @include media("<desktop") {
    margin:0 0 1.2em;
  }
  @include media("<phone") {
    margin:0 0 1em;
  }
}

a {
  color: $base-link-color;
  text-decoration:none;
  transition:color 0.2s linear, background 0.2s linear, opacity 0.2s linear , border-color 0.2s linear;
  &:hover,
  &:focus {
    text-decoration: none;
    color:darken($base-link-color, 15%);
  }
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-checkmark:before {
  content: "\e904";
}
.icon-star:before {
  content: "\e905";
}
.icon-phone:before {
  content: "\e903";
}
.icon-google-plus:before {
  content: "\e902";
}
.icon-twitter:before {
  content: "\e900";
}
.icon-facebook:before {
  content: "\e901";
}